@model HMS.Areas.Dashboard.ViewModels.AccomodationTypesActionModels

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                <span>Delete Accomodation Type</span>
            </h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <input type="hidden" name="ID" value="@Model.ID" />
            </form>
            <div class="alert alert-danger" role="alert">
                Are you sure you want to delete this Accomodation Type?
            </div>
        </div>
        <div class="modal-footer">
            <button id="actionButton" type="button" class="btn btn-danger"><i class="fas fa-trash-alt mr-1"></i>Delete</button>
            <button class="btn btn-secondary" type="button" data-dismiss="modal"><i class="fas fa-times mr-1"></i>Close</button>
        </div>
    </div>
}


<script>
     $("#actionButton").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "AccomodationType")',
            type: "post",
            data: $("#actionForm").serialize()
        })
            .done(function (response) {
                if (response.Success)
                {
                    window.location.hre ="@Url.Action("Index", "AccomodationType")";
                }
                else {
                    $("errorDiv").html(response.Message);
                }
            });
     });
</script>




